@page
@model BBBWebMVC.Controllers.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GadgetModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GadgetModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GadgetModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GadgetModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GadgetModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GadgetModel.AppearsIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GadgetModel.AppearsIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GadgetModel.WithThisActor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GadgetModel.WithThisActor)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GadgetModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
